# Hello i am Kashif khan let's learn together

1.   Github   : https://github.com/Kashifletslearn/Day-04-30-Python
2.   Linkedin : https://www.linkedin.com/in/kashifkhank/
3.   Gmail    : kashifdocument11@gmail.com

#For suggestions and improvement Email me

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [16]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

In [31]:
max_temp = max(temperatures)

max_temp_index = temperatures.index(max_temp)

In [18]:
min_temp = min(temperatures)

min_temp_index = temperatures.index(min_temp)

In [19]:
# Swaping the highest and the lowest temperatures
temperatures[max_temp_index] = min_temp
temperatures[min_temp_index] = max_temp

In [20]:
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ element

In [21]:
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [22]:

mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

### Calculate the median price

In [23]:
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [24]:
# Checking if the number of elements in the list is even or odd
len(sorted_prices)

10

In [25]:
# Use the corresponding formula to calculate the median and print the median
list_length = len(sorted_prices)
median_price = (sorted_prices[int(list_length/2)-1] + sorted_prices[int(list_length/2)])/2
print(median_price)

575.0

In [26]:
# Check which is greater, mean or median
mean_price > median_price

True

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [27]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [28]:
# Write your code below
last_element = tech_companies[-1]
correct_tech_companies = tech_companies[:-1] + last_element
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [29]:
# Do the same task another way
tech_companies.remove(last_element)
tech_companies.extend(last_element)

In [30]:
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']